.Appone {
    display: flex;
    height: 100vh;
    overflow: auto !important
}

.Head-class {
    display: grid;
    height: 100%;
    width: 100%;
    background-color: white;
    overflow: auto;
    grid-template-columns: 17rem auto;
}

/** Actual Tax details css*/
.hero-section {
    background-color: #F1F5F9;
}


.container {
    background-color: #F1F5F9;
    overflow: auto !important;
}

.white-bar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: white;
    padding: 0 10px;
    position: relative;
}

.name {
    margin-left: auto;
    font-weight: bold;
    color: black;
    font-size: 13px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 31px;
    margin-left: 10px;
    margin-right: 20px;
}

.main-head {
    margin-top: 10px;
}

.head-closed {
    display: flex;
    align-items: center;
    justify-content: center;
}

.closed-class {
    border-width: 2px;
    border-style: solid;
    border-color: white;
    max-width: 80%;
    margin-top: 30px;
    background-color: white;
}

.form-container {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin:1.4rem 20px 20px 10px;
}

.form-container-split {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-top: 1.4rem;
    margin-left: 10px;
    margin-right: 20px;
    margin-bottom: 20px;
}


.form-label {
    font-weight: bold;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 15px;
    margin-bottom: 2px;
    width: 160px;
    height: 20px;
    text-align: left;
}

.form-control {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 350px;
    font-size: 14px;
}

.form-control-multi {
    margin-left: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 84%;
    font-size: 14px;
}

.hero-head {
    display: flex;
    flex-direction: column;
}

.nextbutton {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-top: 2rem;
}

.next-btn {
    padding: 10px;
    width: 139.55px;
    height: 40.62px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: #3C50E0;
    margin-bottom: 30px;
    margin-left: 41rem;
}

/*Navbar css*/

.active{
  display: block;
  color: white;
  font-style: normal;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 15px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

}

.active:hover {
  background-color: white;
  color: black;
  font-style: bold;
  border-radius: 20px;
}

.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1C2434;
  height: 3.4rem;
}
  
